<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="productos_listar"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="handleCreateProduct()" [formGroup]="formCreateProduct">
    <ion-item lines="full">
      <ion-label position="floating">Nombre producto</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-select formControlName="categoryId" aria-label="Tallas" interface="action-sheet" placeholder="Selecciona">
        <ion-select-option 
        *ngFor="let category of categories"
        [value]="category.id"
          >
          {{category.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button 
          type="submit" 
          color="primary" 
          expand="block"
        >
          Crear producto
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>